
.container {
  width: 800px;
  margin: auto;
  margin-top:40px;
}

.logo-mb {
  width: 225px;
}

.name {
  font-weight: 100;
  font-size: 16px;
  opacity: 0.6;
}

.course {
  margin-top: 60px;
}

.cource-title p {
  font-size: 50px;
  line-height: 14px;
  font-weight: 100;
}

.cource-value {
  font-size: 40px;
  font-weight: 700;
}

.cource-error {
  font-size: 15px;
  font-weight: 400;
  color: #ff9191;
}
