<div class="container">
  <header class="cource-header">
    <img class="logo-mb" src="./../../assets/img/logo_mb.png" alt="Логотип Maxibooking">
    <p class="name">Тестовое задание Якупова С.С.</p>
  </header>

  <section class="course">
    <div class="cource-title">
      <p>Курс евро</p>
      <p>к российскому рублю</p>
    </div>
    <p class="cource-value" *ngIf="course$">{{course$ | async | number:'1.2-2'}}</p>
    <p class="cource-error" *ngIf="(error$ | async)">{{error$ | async}}</p>
  </section>
</div>
