/* You can add global styles to this file, and also import other style files */
:root {
  --basic-black:#000000;
  --extra-black: #2c2f2f;
  --light-black:#333333;

  --basic-white: #fff;
}
body {
  margin:0;
  padding:0;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: var(--basic-white);
  margin: 20px;
  padding: 10px;
  background-color: var(--extra-black);
  width: 500px;
  margin: auto;
}
